<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <title>Aplikasi Prediksi Biaya Asuransi</title>
    </head>
    <body
        class="
            flex flex-col
            justify-between
            item-center
            p-8
            min-h-screen
            bg-gradient-to-r
            from-green-400
            to-blue-500
            text-gray-800
            md:flex-row
        "
    >
        <main class="bg-white p-16 rounded-lg">
            <h1 class="text-3xl font-bold mb-8">
                Prediksi Biaya Asuransi Anda:
            </h1>

            <form
                action="{{ url_for('predict') }}"
                method="post"
                class="flex flex-col"
            >
                <label for="Age" class="mb-2">Usia</label>
                <input
                    type="text"
                    name="Age"
                    placeholder="Age"
                    required="required"
                    value="{{ age }}"
                    class="p-4 bg-gray-100 rounded-md"
                />

                <label for="Sex" class="mt-4 mb-2">Jenis Kelamin:</label>
                <select name="Sex" id="Sex" class="p-4 bg-gray-100 rounded-md">
                    <option value="Male">Laki-laki</option>
                    <option value="Female">Perempuan</option>
                </select>

                <label for="Smoker" class="mt-4 mb-2">Perokok:</label>
                <select
                    name="Smoker"
                    id="Smoker"
                    class="p-4 bg-gray-100 rounded-md"
                >
                    <option value="Yes">Ya</option>
                    <option value="No">Tidak</option>
                </select>

                <button
                    type="submit"
                    class="
                        flex
                        justify-center
                        align-center
                        mt-8
                        p-4
                        bg-gradient-to-r
                        from-green-400
                        to-blue-500
                        text-white
                        rounded-md
                    "
                >
                    PREDIKSI SEKARANG
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right ml-4"
                    >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </form>
        </main>
        <section
            class="
                mt-8
                p-16
                h-1/2
                rounded-lg
                flex-auto
                bg-white
                md:mt-0
                md:ml-8
            "
        >
            <h1 class="text-2xl mb-8">Estimasi biaya asuransi Anda adalah</h1>
            <h2 class="text-4xl font-bold">USD {{ insurance_cost }}</h2>
        </section>
    </body>
</html>
